language: python
services:
  - docker
python:
  - '3.6'
cache:
  directories:
  - node_modules
script:
  - 'docker build -t dojot/device-manager .'
  - 'docker build -t dredd/test -f tests/Dockerfile .'
  - 'docker-compose -p test -f tests/docker-compose.yaml up -d kafka data-broker postgres device-manager postgres-users'
  - 'docker-compose -p test -f tests/docker-compose.yaml run --rm test-runner'
after_success:
  - travis/publish.sh
  - travis/deploy-gh-pages.sh
